# Regresión con ANN (predicción de una variable continua)

#### Dataset: Student Performance (Versión CSV)
#### Fuente: UC Irvine Machine Learning Repository
#### Descripción: Desarrollo de un sistema que prediga el desempeño académico de estudiantes y detecte tempranamente riesgo de deserción. Alertas tempranas para implementar intervenciones educativas oportunas.

Attributes for both student-mat.csv (Math course) and student-por.csv (Portuguese language course) datasets:
1. school - student's school (binary: "GP" - Gabriel Pereira or "MS" - Mousinho da Silveira)

2. sex - student's sex (binary: "F" - female or "M" - male)

3. age - student's age (numeric: from 15 to 22)

4. address - student's home address type (binary: "U" - urban or "R" - rural)

5. famsize - family size (binary: "LE3" - less or equal to 3 or "GT3" - greater than 3)

6. Pstatus - parent's cohabitation status (binary: "T" - living together or "A" - apart)

7. Medu - mother's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)

8. Fedu - father's education (numeric: 0 - none,  1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)

9. Mjob - mother's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")

10. Fjob - father's job (nominal: "teacher", "health" care related, civil "services" (e.g. administrative or police), "at_home" or "other")

11. reason - reason to choose this school (nominal: close to "home", school "reputation", "course" preference or "other")

12. guardian - student's guardian (nominal: "mother", "father" or "other")

13. traveltime - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)

14. studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)

15. failures - number of past class failures (numeric: n if 1<=n<3, else 4)

16. schoolsup - extra educational support (binary: yes or no)

17. famsup - family educational support (binary: yes or no)

18. paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)

19. activities - extra-curricular activities (binary: yes or no)

20. nursery - attended nursery school (binary: yes or no)

21. higher - wants to take higher education (binary: yes or no)

22. internet - Internet access at home (binary: yes or no)

23. romantic - with a romantic relationship (binary: yes or no)

24. famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)

25. freetime - free time after school (numeric: from 1 - very low to 5 - very high)

26. goout - going out with friends (numeric: from 1 - very low to 5 - very high)

27. Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)

28. Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)

29. health - current health status (numeric: from 1 - very bad to 5 - very good)

30. absences - number of school absences (numeric: from 0 to 93)

these grades are related with the course subject, Math or Portuguese:

31. G1 - first period grade (numeric: from 0 to 20)

31. G2 - second period grade (numeric: from 0 to 20)

32. G3 - final grade (numeric: from 0 to 20, output target)

## 1.Librerias

In [2]:
import sys
import os

# Pon la ruta exacta de la carpeta donde ESTÁ el archivo .py
ruta = r"D:\IA\Ejercicios Keras\Modelo_RendimientoAcademico"

if ruta not in sys.path:
    sys.path.append(ruta)

# Intentar importar
from data_prep import ProcesadoEDA
print("✅ Importado correctamente")

✅ Importado correctamente

In [3]:
import pandas as pd # Manipulación de datos
from data_prep import ProcesadoEDA

In [4]:
pd.set_option('display.max_columns', None)

In [6]:
student_performance = pd.read_csv('../data/processed/student_performance.csv', sep=',', na_values=[''], quotechar='"')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,math
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,math
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,math
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,math
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,math
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,MS,F,19,R,GT3,T,2,3,services,other,course,mother,1,3,1,no,no,no,yes,no,yes,yes,no,5,4,2,1,2,5,4,10,11,10,portuguese
1040,MS,F,18,U,LE3,T,3,1,teacher,services,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,4,1,1,1,4,15,15,16,portuguese
1041,MS,F,18,U,GT3,T,1,1,other,other,course,mother,2,2,0,no,no,no,yes,yes,yes,no,no,1,1,1,1,1,5,6,11,12,9,portuguese
1042,MS,M,17,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2,4,5,3,4,2,6,10,10,10,portuguese
1043,MS,M,18,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4,4,1,3,4,5,4,10,11,11,portuguese

In [7]:
procesado = ProcesadoEDA(student_performance)

In [8]:
procesado.mostrar_head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,math
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,math
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,math
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,math
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,math

In [9]:
procesado.mostrar_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      1044 non-null   object
 1   sex         1044 non-null   object
 2   age         1044 non-null   int64
 3   address     1044 non-null   object
 4   famsize     1044 non-null   object
 5   Pstatus     1044 non-null   object
 6   Medu        1044 non-null   int64
 7   Fedu        1044 non-null   int64
 8   Mjob        1044 non-null   object
 9   Fjob        1044 non-null   object
 10  reason      1044 non-null   object
 11  guardian    1044 non-null   object
 12  traveltime  1044 non-null   int64
 13  studytime   1044 non-null   int64
 14  failures    1044 non-null   int64
 15  schoolsup   1044 non-null   object
 16  famsup      1044 non-null   object
 17  paid        1044 non-null   object
 18  activities  1044 non-null   object
 19  nursery     1044 non-null   object
 20  higher      1044 non-null   object
 21  internet    1044 non-null   object
 22  romantic    1044 non-null   object
 23  famrel      1044 non-null   int64
 24  freetime    1044 non-null   int64
 25  goout       1044 non-null   int64
 26  Dalc        1044 non-null   int64
 27  Walc        1044 non-null   int64
 28  health      1044 non-null   int64
 29  absences    1044 non-null   int64
 30  G1          1044 non-null   int64
 31  G2          1044 non-null   int64
 32  G3          1044 non-null   int64
 33  subject     1044 non-null   object
dtypes: int64(16), object(18)
memory usage: 277.4+ KB

In [10]:
procesado.mostrar_dimensiones()

(1044, 34)

In [11]:
procesado.mostrar_valores_nulos()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
subject       0
dtype: int64

#### 3.1 Limpieza inicial

In [12]:
procesado.ch_bool()

D:\IA\Ejercicios Keras\Modelo_RendimientoAcademico\data_prep.py:38: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df[columnas_binarias] = self.df[columnas_binarias].replace({'yes': 1, 'no': 0})
D:\IA\Ejercicios Keras\Modelo_RendimientoAcademico\data_prep.py:39: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df['famsize'] = self.df['famsize'].replace({'LE3': 1, 'GT3': 0})
D:\IA\Ejercicios Keras\Modelo_RendimientoAcademico\data_prep.py:40: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df['sex'] = self.df['sex'].replace({'M': 1, 'F': 0})
D:\IA\Ejercicios Keras\Modelo_RendimientoAcademico\data_prep.py:41: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df['school'] = self.df['school'].replace({'GP': 1, 'MS': 0})
D:\IA\Ejercicios Keras\Modelo_RendimientoAcademico\data_prep.py:42: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df['Pstatus'] = self.df['Pstatus'].replace({'T': 1, 'A': 0})
D:\IA\Ejercicios Keras\Modelo_RendimientoAcademico\data_prep.py:43: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df['address'] = self.df['address'].replace({'U': 1, 'R': 0})
D:\IA\Ejercicios Keras\Modelo_RendimientoAcademico\data_prep.py:44: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.df['subject'] = self.df['subject'].replace({'math': 1, 'portuguese': 0})

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject
0,1,0,18,1,0,0,4,4,at_home,teacher,course,mother,2,2,0,1,0,0,0,1,1,0,0,4,3,4,1,1,3,6,5,6,6,1
1,1,0,17,1,0,1,1,1,at_home,other,course,father,1,2,0,0,1,0,0,0,1,1,0,5,3,3,1,1,3,4,5,5,6,1
2,1,0,15,1,1,1,1,1,at_home,other,other,mother,1,2,3,1,0,1,0,1,1,1,0,4,3,2,2,3,3,10,7,8,10,1
3,1,0,15,1,0,1,4,2,health,services,home,mother,1,3,0,0,1,1,1,1,1,1,1,3,2,2,1,1,5,2,15,14,15,1
4,1,0,16,1,0,1,3,3,other,other,home,father,1,2,0,0,1,1,0,1,1,0,0,4,3,2,1,2,5,4,6,10,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1039,0,0,19,0,0,1,2,3,services,other,course,mother,1,3,1,0,0,0,1,0,1,1,0,5,4,2,1,2,5,4,10,11,10,0
1040,0,0,18,1,1,1,3,1,teacher,services,course,mother,1,2,0,0,1,0,0,1,1,1,0,4,3,4,1,1,1,4,15,15,16,0
1041,0,0,18,1,0,1,1,1,other,other,course,mother,2,2,0,0,0,0,1,1,1,0,0,1,1,1,1,1,5,6,11,12,9,0
1042,0,1,17,1,1,1,3,1,services,services,course,mother,2,1,0,0,0,0,0,0,1,1,0,2,4,5,3,4,2,6,10,10,10,0
1043,0,1,18,0,1,1,3,2,services,other,course,mother,3,1,0,0,0,0,0,0,1,1,0,4,4,1,3,4,5,4,10,11,11,0

In [13]:
procesado.mostrar_valores_nulos()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
subject       0
dtype: int64

In [14]:
procesado.resum_transpose()

             count       mean       std   min   25%   50%   75%   max
school      1044.0   0.739464  0.439138   0.0   0.0   1.0   1.0   1.0
sex         1044.0   0.433908  0.495850   0.0   0.0   0.0   1.0   1.0
age         1044.0  16.726054  1.239975  15.0  16.0  17.0  18.0  22.0
address     1044.0   0.727011  0.445708   0.0   0.0   1.0   1.0   1.0
famsize     1044.0   0.293103  0.455404   0.0   0.0   0.0   1.0   1.0
Pstatus     1044.0   0.884100  0.320259   0.0   1.0   1.0   1.0   1.0
Medu        1044.0   2.603448  1.124907   0.0   2.0   3.0   4.0   4.0
Fedu        1044.0   2.387931  1.099938   0.0   1.0   2.0   3.0   4.0
traveltime  1044.0   1.522989  0.731727   1.0   1.0   1.0   2.0   4.0
studytime   1044.0   1.970307  0.834353   1.0   1.0   2.0   2.0   4.0
failures    1044.0   0.264368  0.656142   0.0   0.0   0.0   0.0   3.0
schoolsup   1044.0   0.113985  0.317945   0.0   0.0   0.0   0.0   1.0
famsup      1044.0   0.613027  0.487291   0.0   0.0   1.0   1.0   1.0
paid        1044.0   0.210728  0.408021   0.0   0.0   0.0   0.0   1.0
activities  1044.0   0.494253  0.500207   0.0   0.0   0.0   1.0   1.0
nursery     1044.0   0.799808  0.400335   0.0   1.0   1.0   1.0   1.0
higher      1044.0   0.914751  0.279386   0.0   1.0   1.0   1.0   1.0
internet    1044.0   0.792146  0.405967   0.0   1.0   1.0   1.0   1.0
romantic    1044.0   0.355364  0.478853   0.0   0.0   0.0   1.0   1.0
famrel      1044.0   3.935824  0.933401   1.0   4.0   4.0   5.0   5.0
freetime    1044.0   3.201149  1.031507   1.0   3.0   3.0   4.0   5.0
goout       1044.0   3.156130  1.152575   1.0   2.0   3.0   4.0   5.0
Dalc        1044.0   1.494253  0.911714   1.0   1.0   1.0   2.0   5.0
Walc        1044.0   2.284483  1.285105   1.0   1.0   2.0   3.0   5.0
health      1044.0   3.543103  1.424703   1.0   3.0   4.0   5.0   5.0
absences    1044.0   4.434866  6.210017   0.0   0.0   2.0   6.0  75.0
G1          1044.0  11.213602  2.983394   0.0   9.0  11.0  13.0  19.0
G2          1044.0  11.246169  3.285071   0.0   9.0  11.0  13.0  19.0
G3          1044.0  11.341954  3.864796   0.0  10.0  11.0  14.0  20.0
subject     1044.0   0.378352  0.485209   0.0   0.0   0.0   1.0   1.0

In [15]:
procesado.var_correlacion("G3")

--- Correlación con G3 ---

G3            1.000000
G2            0.910743
G1            0.809142
higher        0.236578
Medu          0.201472
studytime     0.161629
Fedu          0.159796
school        0.127114
address       0.117696
internet      0.107064
famsize       0.061209
famrel        0.054461
nursery       0.039950
activities    0.033998
famsup        0.013313
Pstatus      -0.030693
sex          -0.031472
absences     -0.045671
paid         -0.049388
freetime     -0.064890
schoolsup    -0.079346
health       -0.080079
goout        -0.097877
romantic     -0.098363
traveltime   -0.102627
Walc         -0.115740
age          -0.125282
Dalc         -0.129642
subject      -0.187166
failures     -0.383145
Name: G3, dtype: float64

#### 3.3 Limpieza final

In [16]:
columnas_mlt = ["Fjob", "Mjob", "guardian", "reason"]
procesado.aplicar_dummies(columnas_mlt)
procesado.mostrar_head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,subject,Fjob_at_home,Fjob_health,Fjob_other,Fjob_services,Fjob_teacher,Mjob_at_home,Mjob_health,Mjob_other,Mjob_services,Mjob_teacher,guardian_father,guardian_mother,guardian_other,reason_course,reason_home,reason_other,reason_reputation
0,1,0,18,1,0,0,4,4,2,2,0,1,0,0,0,1,1,0,0,4,3,4,1,1,3,6,5,6,6,1,False,False,False,False,True,True,False,False,False,False,False,True,False,True,False,False,False
1,1,0,17,1,0,1,1,1,1,2,0,0,1,0,0,0,1,1,0,5,3,3,1,1,3,4,5,5,6,1,False,False,True,False,False,True,False,False,False,False,True,False,False,True,False,False,False
2,1,0,15,1,1,1,1,1,1,2,3,1,0,1,0,1,1,1,0,4,3,2,2,3,3,10,7,8,10,1,False,False,True,False,False,True,False,False,False,False,False,True,False,False,False,True,False
3,1,0,15,1,0,1,4,2,1,3,0,0,1,1,1,1,1,1,1,3,2,2,1,1,5,2,15,14,15,1,False,False,False,True,False,False,True,False,False,False,False,True,False,False,True,False,False
4,1,0,16,1,0,1,3,3,1,2,0,0,1,1,0,1,1,0,0,4,3,2,1,2,5,4,6,10,10,1,False,False,True,False,False,False,False,True,False,False,True,False,False,False,True,False,False

In [17]:
procesado.var_correlacion("G3")

--- Correlación con G3 ---

G3                   1.000000
G2                   0.910743
G1                   0.809142
higher               0.236578
Medu                 0.201472
studytime            0.161629
Fedu                 0.159796
school               0.127114
reason_reputation    0.121303
address              0.117696
internet             0.107064
Fjob_teacher         0.101361
Mjob_health          0.101349
Mjob_teacher         0.084521
famsize              0.061209
famrel               0.054461
Mjob_services        0.045015
guardian_father      0.042778
Fjob_health          0.042101
nursery              0.039950
activities           0.033998
famsup               0.013313
guardian_mother      0.009746
reason_home          0.003895
Fjob_at_home        -0.021194
Fjob_other          -0.023825
Pstatus             -0.030693
sex                 -0.031472
Fjob_services       -0.035273
reason_other        -0.043097
absences            -0.045671
paid                -0.049388
freetime            -0.064890
Mjob_other          -0.066051
schoolsup           -0.079346
health              -0.080079
reason_course       -0.081637
guardian_other      -0.088445
goout               -0.097877
romantic            -0.098363
traveltime          -0.102627
Mjob_at_home        -0.107951
Walc                -0.115740
age                 -0.125282
Dalc                -0.129642
subject             -0.187166
failures            -0.383145
Name: G3, dtype: float64

In [18]:
cl_select = ["G3","G2","G1","higher","Medu","studytime","Fedu","school","failures","subject"]
procesado.seleccion_de_variables(cl_select)
procesado.mostrar_head()

   G3  G2  G1  higher  Medu  studytime  Fedu  school  failures  subject
0   6   6   5       1     4          2     4       1         0        1
1   6   5   5       1     1          2     1       1         0        1
2  10   8   7       1     1          2     1       1         3        1
3  15  14  15       1     4          3     2       1         0        1
4  10  10   6       1     3          2     3       1         0        1

## 4.Train test split

In [19]:
X_train, X_test, y_train, y_test = procesado.train_test_x_y(
    val_dropX=['G3'],
    val_selectY='G3'
)

In [21]:
X_train

     G2  G1  higher  Medu  studytime  Fedu  school  failures  subject
399  13  11       1     3          2     3       1         0        0
8    18  16       1     3          2     2       1         0        1
400  12  12       1     4          2     3       1         0        0
631  13  13       1     2          2     3       1         0        0
367   6   7       1     1          1     1       0         1        1
..   ..  ..     ...   ...        ...   ...     ...       ...      ...
575  10   9       0     2          2     2       1         0        0
973   9   8       1     3          2     3       0         1        0
75    9   9       1     4          2     3       1         0        1
599  12  12       1     2          2     3       1         0        0
863  12  13       1     2          1     2       0         0        0

[835 rows x 9 columns]

## 5.Escalado de los datos (Normalización)

In [22]:
procesado.escalado_val(X_train,X_test)

(           G2        G1  higher  Medu  studytime  Fedu  school  failures  \
 0    0.684211  0.578947     1.0  0.75   0.333333  0.75     1.0  0.000000
 1    0.947368  0.842105     1.0  0.75   0.333333  0.50     1.0  0.000000
 2    0.631579  0.631579     1.0  1.00   0.333333  0.75     1.0  0.000000
 3    0.684211  0.684211     1.0  0.50   0.333333  0.75     1.0  0.000000
 4    0.315789  0.368421     1.0  0.25   0.000000  0.25     0.0  0.333333
 ..        ...       ...     ...   ...        ...   ...     ...       ...
 830  0.526316  0.473684     0.0  0.50   0.333333  0.50     1.0  0.000000
 831  0.473684  0.421053     1.0  0.75   0.333333  0.75     0.0  0.333333
 832  0.473684  0.473684     1.0  1.00   0.333333  0.75     1.0  0.000000
 833  0.631579  0.631579     1.0  0.50   0.333333  0.75     1.0  0.000000
 834  0.631579  0.684211     1.0  0.50   0.000000  0.50     0.0  0.000000

      subject
 0        0.0
 1        1.0
 2        0.0
 3        0.0
 4        1.0
 ..       ...
 830      0.0
 831      0.0
 832      1.0
 833      0.0
 834      0.0

 [835 rows x 9 columns],
            G2        G1  higher  Medu  studytime  Fedu  school  failures  \
 0    0.578947  0.578947     1.0  0.75   0.333333  1.00     1.0  0.000000
 1    0.684211  0.684211     1.0  1.00   0.333333  0.75     1.0  0.000000
 2    0.789474  0.736842     1.0  0.50   0.333333  0.25     0.0  0.000000
 3    0.526316  0.631579     1.0  1.00   0.333333  1.00     1.0  0.000000
 4    0.578947  0.684211     1.0  1.00   0.333333  1.00     1.0  0.000000
 ..        ...       ...     ...   ...        ...   ...     ...       ...
 204  0.684211  0.736842     1.0  0.50   1.000000  0.50     1.0  0.000000
 205  0.631579  0.578947     1.0  0.50   1.000000  0.50     1.0  0.000000
 206  0.631579  0.473684     1.0  1.00   0.666667  1.00     1.0  0.000000
 207  0.368421  0.421053     0.0  0.25   0.000000  0.75     0.0  0.333333
 208  0.631579  0.631579     1.0  0.75   0.333333  0.75     1.0  0.000000

      subject
 0        1.0
 1        1.0
 2        0.0
 3        1.0
 4        1.0
 ..       ...
 204      0.0
 205      0.0
 206      1.0
 207      1.0
 208      0.0

 [209 rows x 9 columns],
 MinMaxScaler())

In [23]:
procesado.guardar_csv(X_train,"X_train.csv",r"D:\Proyecto1_IA\Proyecto-AI\data\processed")
procesado.guardar_csv(X_test,"X_test.csv",r"D:\Proyecto1_IA\Proyecto-AI\data\processed")
procesado.guardar_csv(y_train,"y_train.csv",r"D:\Proyecto1_IA\Proyecto-AI\data\processed")
procesado.guardar_csv(y_test,"y_test.csv",r"D:\Proyecto1_IA\Proyecto-AI\data\processed")

Archivo 'X_train.csv' guardado en: D:\Proyecto1_IA\Proyecto-AI\data\processed\X_train.csv
Archivo 'X_test.csv' guardado en: D:\Proyecto1_IA\Proyecto-AI\data\processed\X_test.csv
Archivo 'y_train.csv' guardado en: D:\Proyecto1_IA\Proyecto-AI\data\processed\y_train.csv
Archivo 'y_test.csv' guardado en: D:\Proyecto1_IA\Proyecto-AI\data\processed\y_test.csv